#! /bin/sh

M_PROJECT_NAME=libstream
M_RTOKEN=41B52FD465
M_LOG_FILE_NAME="$PWD/logs/log_$M_PROJECT_NAME"
M_LIMIT_DISK_USAGE=false
M_MAKE=gmake
M_MAX_DISPLAY_DIFF_LENGTH=1000
M_ARCH=FreeBSD

M_STUDENT_LIST_FILE="$PWD"/student.list
M_TESTS_FOLDER="$PWD"/testsuite_skel
M_TARBALLS_FOLDER="$PWD"/tarballs
M_TRACE_DIR="$PWD"/traces

M_LOCK_FILE="$PWD/lock"
M_NB_WORKERS=4

M_MOULETTE_ASSETS="$PWD"/..
M_TRACE_GENERATOR=gen_trace_xml.sh


# M_PROJECT_NAME                STRING
# M_RTOKEN                      STRING
# M_LOG_FILE_NAME               Abs path to file
# M_LIMIT_DISK_USAGE            true | false
# M_MAKE                        COMMAND
# M_MAX_DISPLAY_DIFF_LENGTH     INTEGER
# M_ARCH                        STRING
#
# M_STUDENT_LIST_FILE           Abs path to file
# M_TESTS_FOLDER                Abs path to directory
# M_TARBALLS_FOLDER             Abs path to directory
# M_TRACE_DIR                   Abs path to directory
#
# M_LOCK_FILE                   Abs path to file
# M_NB_WORKERS                  INTEGER
#
# M_MOULETTE_ASSETS             Abs path to directory
# M_TRACE_GENERATOR             Abs path to binary or relative path
#                                from $M_MOULETTE_ASSETS/trace_generators
