#! /bin/sh

M_PROJECT_NAME=libstream
M_RTOKEN=41B52FD465
M_LOG_FILE_NAME=log_"$M_PROJECT_NAME"
M_LIMIT_DISK_USAGE=false
M_MAKE=gmake
M_MAX_DISPLAY_DIFF_LENGTH=1000

M_STUDENT_LIST_FILE="$PWD"/student.list
M_TESTS_FOLDER=
M_TARBALLS_FOLDER=
M_TRACE_DIR=

M_MOULETTE_ASSETS=
M_TRACE_GENERATOR=gen_trace_xml.sh


# M_PROJECT_NAME                STRING
# M_RTOKEN                      STRING
# M_LOG_FILE_NAME               STRING
# M_LIMIT_DISK_USAGE            true | false
# M_MAKE                        COMMAND
# M_MAX_DISPLAY_DIFF_LENGTH     INTEGER
#
# M_STUDENT_LIST_FILE           Abs path to file
# M_TESTS_FOLDER                Abs path to directory
# M_TARBALLS_FOLDER             Abs path to directory
# M_TRACE_DIR                   Abs path to directory
#
# M_MOULETTE_ASSETS             Abs path to directory
# M_TRACE_GENERATOR             Abs path to binary or relative path
#                                from $M_MOULETTE_ASSETS/trace_generators
